* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

svg {
  max-width: 50px;
  max-height: 50px;
  fill: white;
}
.ul-nav {
  list-style: none;
  background-color: mediumturquoise;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.photo {
  border-radius: 50%;
  display: flex;
  margin: auto;
  padding: 50px;
}
.company-logo {
  padding: 5px;
  max-width: 80px;
  max-height: 80px;
}
.company-link {
  text-decoration: none;
}
.sofftek,
.amiGo {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.icons > div {
  width: 60px;
  margin: 10px;
  line-height: 80px;
}
*/ a {
  color: white;
}
a:hover {
  opacity: 0.5;
}
h1 {
  font-style: italic;
  text-align: center;
  padding: 30px;
  padding-top: 40px;
  color: white;
}
h2 {
  font-style: normal;
  text-align: center;
  color: white;
}
h3 {
  padding-bottom: 10px;
}
section {
  margin: 20px 20px;
  padding: 30px;
  background-color: #b6edeb;
}
td,
th {
  color: black;
  border: 1px solid #eeeeee;
  padding: 15px;
}
th.heading {
  background-color: #55b3c5;
  color: white;
}
tr:hover {
  background: #f4f4f4;
}
td:hover {
  color: #999;
}
.software-tables {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer {
  padding: 20px;
  background-color: mediumturquoise;
  text-align: center;
}
.main-header {
  background-image: url("../images/tokyo.jpg");
  background-size: cover;
}
