@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Raleway";
}

svg {
  max-width: 50px;
  max-height: 50px;
  fill: white;
}
ul,
ol {
  list-style: none;
}
.ul-nav {
  background-color: mediumturquoise;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ul-nav > li {
  padding: 10px;
  border: 2px solid #b6edeb;
  border-radius: 5px;
}
.ul-nav > li:hover {
  border: 2px outset #b6edeb;
  border-radius: 5px;
}
.photo {
  border-radius: 50%;
  display: flex;
  margin: auto;
  padding: 50px;
}
.main-header {
  background-image: url("../images/tokyo.jpg");
  background-size: cover;
}
.company-logo {
  padding: 5px;
  margin: 10px;
  max-width: 150px;
  max-height: 100px;
  border: 2px outset mediumturquoise;
}
.education {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* span {
  text-align: center;
  padding: 10px;
} */
section > p {
  text-align: justify;
  padding: 10px;
}
.company-link {
  text-decoration: none;
  display: block;
  max-width: max-content;
}
.sofftek,
.amiGo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
span {
  font-weight: bold;
}
.icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.icons > div {
  width: 60px;
  margin: 10px;
  line-height: 80px;
}
* a {
  color: white;
}
a:hover {
  opacity: 0.5;
}
.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.experience-header {
  display: flex;
  align-self: left;
}
h1 {
  font-style: italic;
  text-align: center;
  padding: 30px;
  padding-top: 40px;
  color: white;
}
h2 {
  font-style: normal;
  text-align: center;
  color: white;
}
h3 {
  padding-bottom: 10px;
}
section {
  margin: 20px 20px;
  padding: 30px;
  background-color: #b6edeb;
}
td,
th {
  color: black;
  border: 1px solid #eeeeee;
  padding: 15px;
}
.table-right > thead,
.table-right > th {
  display: none;
}
tr:hover {
  background: #f4f4f4;
}
td:hover {
  color: #999;
}
.software-tables {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.projects > li {
  padding: 10px;
  margin: 5px;
  border: 2px solid mediumturquoise;
  border-radius: 5px;
}
.abilities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.abilities > li {
  padding: 0.5em;
  margin: 5px;
  border: 2px solid mediumturquoise;
  border-radius: 5px;
}
.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.languages > li {
  padding: 0.5em;
  margin: 3px;
  border: 2px solid mediumturquoise;
  border-radius: 5px;
  text-align: center;
}
footer {
  padding: 20px;
  background-color: mediumturquoise;
  text-align: center;
}

@media (min-width: 600px) and (max-width: 990px) {
  .table-right > thead,
  .table-right > th {
    display: table-header-group;
  }
  .software-tables {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .sofftek {
    display: flex;
    flex-direction: row;
    align-self: left;
  }
  .sofftek-text {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .amiGo {
    display: flex;
    flex-direction: row;
    align-self: left;
  }
  .amiGo-text {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}
@media (min-width: 991px) {
  .table-right > thead,
  .table-right > th {
    display: table-header-group;
  }
  .software-tables {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .sofftek {
    display: flex;
    flex-direction: row;
    align-self: left;
  }
  .sofftek-text {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .amiGo {
    display: flex;
    flex-direction: row;
    align-self: left;
  }
  .amiGo-text {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}
